* {
    box-sizing: border-box;
}
#main-container {
    display: flex;
    height: 100vh;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#boards-section {
    display: flex;
    height: 50vh;
    gap: 10vw;
    justify-content: center;
    align-items: center;
}
#player-grid{
   display: flex;
   flex-wrap: wrap;
   width: 400px;
}

#player-grid > * {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#computer-grid{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
 }
 
 #computer-grid > * {
     border: 1px solid black;
     width: 40px;
     height: 40px;
     aspect-ratio: 1 / 1;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #computer-grid{
    display: none;
 }
